table tr td{
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 50px;
    text-align: center;
    width: 20%;
}


table{
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.cs-round{
    border-radius: 20px;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.315);
}